@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Questrial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  background-color: #666;
  margin-top: 30px;
}

h1 {
  color: #fff;
}

.screen {
  cursor: pointer;
  width: 50%;
  background-color: #000 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.controls {
  background-color: #333;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
}

.controls .btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.controls .fa-play {
  color: #28a745;
}

.controls .fa-stop {
  color: #dc3545;
}

.controls .fa-pause {
  color: #fff;
}

.controls .timestamp {
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
}

.controls .btn:focus {
  outline: 0;
}

@media (max-width: 0px) {
  .sreen,
  .control {
    width: 90%;
  }
}
