@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #0095dd;
  min-height: 100vh;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 54px;
  color: white;
}

canvas {
  background-color: #f0f0f0;
  display: block;
  border-radius: 5px;
}

.btn {
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background-color: #222;
}

.btn:active {
  transform: scale(0.98);
}

.rules-btn {
  position: absolute;
  top: 30px;
  left: 30px;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  color: #fff;
  min-height: 100vh;
  width: 300px;
  padding: 20px;
  line-height: 1.5;
  transform: translateX(-300px);
  transition: transform 1s ease-in-out;
  text-align: justify;
}

.rules * {
  padding: 5px;
}

.rules .btn {
  padding: 10px 20px;
}

.rules.show {
  transform: translateX(0);
}
