//@import "../bootstrap-4.5.0/scss/functions";
//@import "../bootstrap-4.5.0/scss/variables";
//@import "../bootstrap-4.5.0/scss/mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #2f3542 url(img/bg.jpg) no-repeat left center/cover;
  color: #fff;
  min-height: 100vh;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bolder;
}
// dynamic
.play-again{
    padding: 8px 15px;
    border: 0;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin-top: 10px;
}

.msg{
    font-size: 1.5em;
    margin-top: 40px;
}

.box{
    border: 1px solid #dedede;
    display: inline-block;
    font-size: 30px;
    margin: 20px;
    padding: 10px;
}